$background-color:rgb(61, 187, 228);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: $background-color;
    align-items: center;
    justify-content: space-around;
    padding: 0;


    ul {
        list-style: none;
        display: flex;
        

    a {
        text-decoration: none;
        padding-left: 20px;
        &:hover{
            color: red;
        }
        &:active {
            color: green;
        }

        @media(max-width: 576px) {
            display: none;
        }
    }

    }
    input {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: whitesmoke;

        @media(max-width: 576px) {
            display: none;
        }
    }

    .hamburger {
        display: none;

        @media(max-width: 576px) {
            display: flex;
        }
    }
    @media (max-width: 576px) {
        height: 10vh;
    }
}

.rice {
    height: 90vh;
    width: 100vw;
    display: flex;


    .left {
        width: 50vw;
        height: 90vh;

        @media(max-width: 576px) {
            width: 100vw;
            padding: 10px;
        }

        img {
            height: 100%;
            width: 100%;

            @media(max-width: 576px) {
                border-radius: 10px;
            }
        }
       
    }

    .right {
        height: 90vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @media(max-width: 576px) {
            display: none;
        }

    }

    @media(max-width: 576px) {
        display: grid;
    }
}

.beans {
    width: 100%;
    height: 100%;
    background-color: $background-color;
    overflow: hidden;


    h2{
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        width: auto;
        @media(max-width: 576px) {
            display: grid;
        }



        .card {
            border: 2px solid;
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
        
            width: 350px;
            box-shadow: 5px 5px 5px 5px grey;
            text-align: center;


            // h4 {
            //     text-align: center;
            // }
            
        }
    }
}
// yam section
.yam {
    height: auto;
    // width: 100;
    display: flex;
    // background-color: black;

//yam media query
    @media (max-width: 576px) {
        display: grid;
    }


    .left {
        width: 100%;
        display: flex;
        
        @media (max-width: 576px) {
            width: 100% ;
                }
                
                
                form {
                    height: 400px;
                    box-shadow: 3px 3px 3px grey;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    width: 100%;
                // background-color: rgb(40, 35, 35);

                    @media (max-width: 576px){
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        background-color: grey;

                    }

                    .input {
                        width: 100%;
                        padding: 10px;
                        margin: 10px;
                        border: none;
                        background-color: whitesmoke;
                        border-radius: 5px;
                        box-shadow: 3px 3px 3px grey;

                            @media (max-width: 576px) {
                                width: 100%;
                                height: 50px;
                                margin: 5px;
                                // padding-right: 5px;
                                box-shadow: 5px 5px 10px #101010;
                                // border: none;
                                border-radius: 20px;
                                // background-color: red;

                            }

                        }
                    
                    textarea{
                        width: 100%;
                        padding: 10px;
                        margin: 10px;
                        border: none;
                        box-shadow: 3px 3px 3px grey;
                        height: 100px;
                        border-radius: 5px;
                        @media (max-width: 576px) {
                            width: 100%;
                            box-shadow: 5px 5px 7px #101010;
                            border-radius: 5px solid black;
                        }
                    }

                    // input{
                    //     margin: 20px 0;
                    // }

                    .btn{
                    //    display: block;
                        width: 100%;
                        height: 35px;
                        border-radius: 15px 0;
                        border: none;
                        box-shadow: 3px 3px 3px grey;
                        // margin-top: 30px;

                       @media (max-width: 576px) {
                           display: flex;
                           text-align: center;
                           justify-content: center;
                           align-items: center;
                       }


                        &:hover{
                            background-color: #101010;
                            color: #fff;
                        }
                    }
        }
    
       
    }
    .right {
        width: 100%;
    }
}
      
